南孚电池data.zip
NFDC_test_20190703.dat
NFDC_2020_Final.dat
nf_data_s1_2020.py
nf_data_s_e_2020.py
nf_data_s_e_3-4_2020.py
nf_data_s_b_2020.py
nf_data_s_a_2020.py
datap.zip
data_result/nf_result_2021_S1_test_20210526.txt
__pycache__/nf_functions.cpython-37.pyc
__pycache__/nf_functions.cpython-36.pyc
